@import "tailwindcss";

@theme {
  --font-nanum-human: var(--font-nanum-human), sans-serif;
  --font-nanum-myeongjo: var(--font-nanum-myeongjo-yet-hangul), serif;
  --font-paperlogy: var(--font-paperlogy), sans-serif;
  --font-score-dream: var(--font-s-core-dream), sans-serif;
  --font-cafe24-air: var(--font-cafe24-ohsquare-air), sans-serif;
  --font-giants: var(--font-giants), sans-serif;
}
